<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <test name="Login Test">
       <classes>
            <class name="com.saucedemo.test.LoginTest"/>
            <class name="com.saucedemo.test.AddToCartTest"/>
            <class name="com.saucedemo.test.CheckoutTest"/>
            <!-- Add other test classes here -->
        </classes>
    </test>
</suite>
